<nav class="c-primary-nav" role="navigation">

	<ul class="c-primary-nav__list c-primary-nav__list--flush js-nav-panel" role="tablist" aria-multiselectable="true">

		<li class="c-primary-nav__item">
			<a href="{{ "/getting-started.html" | prepend: site.baseurl}}" class="c-primary-nav__link {% if page.url == '/getting-started.html' %}is-active is-current{% endif %}">
				<span class="c-primary-nav__text">Welcome to UX at Hireology</span>
			</a>
		</li><!-- end c-nav__list__item -->

		<li class="c-primary-nav__item {% if page.url contains '/about' %}is-active{% endif %}">
			<a class="c-primary-nav__link c-primary-nav__link--has-children js-nav-dropdown-trigger {% if page.url contains '/about' %} is-active is-current{% endif %}" href="{{ "/about/" | prepend: site.baseurl }}">

				<span class="c-primary-nav__text">About</span>

				<svg class="c-icon c-primary-nav__icon" aria-hidden="true">
					<use href="{{ "/icons.svg#chevron-right" | prepend: site.baseurl }}"></use>
				</svg>

			</a>

			<ul class="c-primary-nav__sublist js-nav-dropdownn {% if page.url contains '/about' %} is-active{% endif %}">
			{% for my_page in site.pages %}

				{% if my_page.group == "about" %}
				<li class="c-primary-nav__item">
					<a class="c-primary-nav__link {% if my_page.url == page.url %}is-active is-current{% endif %}" href="{{ my_page.url | prepend: site.baseurl }}">
                    {% if my_page.title == "About" %}

                    <span class="c-primary-nav__text">UX at Hireology</span>

                    {% else %}

                    {{ my_page.title }}

                    {% endif %}
					</a>
				</li>
				{% endif %}

			{% endfor %}
			</ul>
		</li>


		<li class="c-primary-nav__item {% if page.url contains '/users' %}is-active{% endif %}">

			<a href="{{ "/users/index.html" | prepend: site.baseurl }}" class="c-primary-nav__link c-primary-nav__link--has-children js-nav-dropdown-trigger {% if page.url contains '/users' %} is-active  is-current{% endif %}">

				<span class="c-primary-nav__span">User Personas</span>

				<svg class="c-icon c-primary-nav__icon" aria-hidden="true">
					<use href="{{ "/icons.svg#chevron-right" | prepend: site.baseurl }}"></use>
				</svg>

			</a>

			<ul class="c-primary-nav__sublist js-nav-dropdown {% if page.url contains '/users' %} is-active{% endif %}">
			{% for my_page in site.pages %}
				{% if my_page.title %}
					{% if my_page.group == "users" %}
					<li class="c-primary-nav__item">
						<a class="c-primary-nav__link {% if my_page.url == page.url %}is-active is-current{% endif %}" href="{{ my_page.url | prepend: site.baseurl }}">
                        {% if my_page.layout == "landing" %}

                        <span class="c-primary-nav__text">Overview</span>

                        {% else %}

                        {{ my_page.title }}

                        {% endif %}
						</a>
					</li>
					{% endif %}
				{% endif %}
			{% endfor %}
			</ul>

		</li><!-- end c-nav__list__item -->

		<li class="c-primary-nav__item {% if page.url contains '/content-guide' %}is-active{% endif %}">

			<a href="{{ "/content-guide/index.html" | prepend: site.baseurl }}" class="c-primary-nav__link c-primary-nav__link--has-children js-nav-dropdown-trigger {% if page.url contains '/content-guide' %} is-active  is-current{% endif %}">

				<span class="c-primary-nav__span">Content Style Guide</span>

				<svg class="c-icon c-primary-nav__icon" aria-hidden="true">
					<use href="{{ "/icons.svg#chevron-right" | prepend: site.baseurl }}"></use>
				</svg>

			</a>

			<ul class="c-primary-nav__sublist js-nav-dropdown {% if page.url contains '/content-guide' %} is-active{% endif %}">
			{% for my_page in site.pages %}
				{% if my_page.title %}
					{% if my_page.group == "content-guide" %}
					<li class="c-primary-nav__item">
						<a class="c-primary-nav__link {% if my_page.url == page.url %}is-active is-current{% endif %}" href="{{ my_page.url | prepend: site.baseurl }}">
                        {% if my_page.layout == "landing" %}

                        <span class="c-primary-nav__text">Overview</span>

                        {% else %}

                        {{ my_page.title }}

                        {% endif %}
						</a>
					</li>
					{% endif %}
				{% endif %}
			{% endfor %}
			</ul>

		</li><!-- end c-nav__list__item -->

		<li class="c-primary-nav__item {% if page.url contains '/ui-patterns' %}is-active{% endif %}">

			<a href="{{ "/ui-patterns/index.html" | prepend: site.baseurl }}" class="c-primary-nav__link c-primary-nav__link--has-children js-nav-dropdown-trigger {% if page.url contains '/ui-patterns' %} is-active  is-current{% endif %}">

				<span class="c-primary-nav__span">UI Pattern Library</span>

				<svg class="c-icon c-primary-nav__icon" aria-hidden="true">
					<use href="{{ "/icons.svg#chevron-right" | prepend: site.baseurl }}"></use>
				</svg>

			</a>

			<ul class="c-primary-nav__sublist js-nav-dropdown {% if page.url contains '/ui-patterns' %} is-active{% endif %}">
			{% for my_page in site.pages %}
				{% if my_page.title %}
					{% if my_page.group == "ui-patterns" %}
					<li class="c-primary-nav__item">
						<a class="c-primary-nav__link {% if my_page.url == page.url %}is-active is-current{% endif %}" href="{{ my_page.url | prepend: site.baseurl }}">
                        {% if my_page.layout == "landing" %}

                        <span class="c-primary-nav__text">Overview</span>

                        {% else %}

                        {{ my_page.title }}

                        {% endif %}
						</a>
					</li>
					{% endif %}
				{% endif %}
			{% endfor %}
			</ul>

		</li><!-- end c-nav__list__item -->

		

	</ul><!-- end c-nav__list -->

</nav><!-- end c-nav -->
