/*------------------------------------*\
    #PAGE HEADER
\*------------------------------------*/
/**
 * 1) Container that consists of of a page header title and description
 */

  /**
 * Page header
 */
.c-page-header {
    background-color: $color-light-blue;
    padding: 10rem 3rem;;
}
 
 /**
 * Page header title
 */
.c-page-header__title {
    margin-bottom: 0.4rem;
    color: $color-white;
}

/**
 * Page description
 */
.c-page-header__desc {
    margin-bottom: 2rem;
    font-size: $font-size-med-2;
    font-weight: $font-weight-light;
    color: $color-white;
    max-width: $l-max-width;
}
