/*------------------------------------*\
    #LINKS
\*------------------------------------*/

/**
 * Link base styles
 */
a {
	color: $color-medium-blue;
	text-decoration: none;
	outline: 0;
	transition: color $fade-quick ease-out, box-shadow $fade-quick ease-out;

	&:hover, &:focus {
		color: $color-dark-blue;
	}
}
